/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* General Styling */
a {
    color: #1772d0;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #f09228 !important;
    text-decoration: none;
}

body {
    background: linear-gradient(
          rgba(255, 255, 255, 0.7), /* 70% white overlay */
          rgba(255, 255, 255, 0.7)
        ), 
        url('images/bg1.png');
    background-size: cover;      /* Fills the whole screen */
    background-position: center; /* Centers the image */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body,
td,
th,
tr,
p,
a {
    margin: 0;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 16px;

}

strong {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 16px;
}

.heading {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 22px;
}

name {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 32px;
}

/* --------------------------------------------------------------- */
.one {
    width: 160px;
    height: 160px;
    position: relative;
}

.two {
    width: 160px;
    height: 160px;
    position: absolute;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.fade {
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
    background-color: #ffffd0;
}

/* --------------------------------------------------------------- */

/* Header and Navbar Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header h1.name {
    font-size: 2rem;
    color: #333;
    margin-left: 20px;
}

.container {
    width: 100%;
    max-width: 1000px;
    border: 0;
    border-spacing: 0;
    border-collapse: separate;
    margin: 0 auto;
}

/* Style for the navigation bar */
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
}

/* Underline effect on hover */
.navbar a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar a:hover {
    color: black;
    /* Change text color on hover (optional) */
}

/* ---------------------------------------------------------- */

/* Section Styling */
section {
    width: 100%;
    padding: 40px 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.project-category {
    margin-bottom: 30px;
}

.project-category h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.project-category ul {
    list-style-type: disc;    
}

.project-category ul li {
    font-size: 1rem;
    margin: 5px 0;
}

#recent-news p {
    font-size: 1rem;
    color: #555;
}

#contact p {
    font-size: 1rem;
    color: #555;
}

#contact a {
    color: #007bff;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    border-top: 2px solid #ccc;
}

.center-text {
    text-align: center;
}

/* Image Styling */
img.hoverZoomLink {
    width: 70%;
    max-width: 70%;
    border-radius: 50%;
}